extends baseEmail

block content
  p Hi #{firstName},
  p lupa kata sandi Anda? Kirim permintaan PATCH dengan kata sandi baru Anda dan konfirmasi kata sandi ke: #{url}.
  p (Situs web untuk tindakan ini belum diimplementasikan)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p Jika Anda tidak lupa kata sandi, harap abaikan email ini!
